<div class="container">
    <div style="margin-top: 80px;" class="jumbotron text-center">
        <h1 class="display-4">Eat the Burger </h1>
        <a class="btn btn-primary btn-lg mt-4" href="/burgers" role="button">Get Started</a>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>